.category {
    margin-bottom: 30px;
    border: 1px solid #eee;
    position: relative;
}
.category img {
    max-width: 100%;
}
.category .title {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
.checked_background {
    background-color: rgba(66, 139, 202, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.checked_background img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
#go_to_feed {
    position: fixed;
    z-index: 5;
    right: 15px;
    top: 20px;
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    box-shadow: 0 0 3px;
    border-radius: 5px;
    background-color: rgba(66, 255, 104, 0.70);
}
#i_frame {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
#back_button {
    height: 100px;
    text-align: center;
    background-color: #999;
    color: #ffffff;
    font-size: 30px;
}
.full-text {
    display: none;
}
.read_all {
    color: #003bb3;
    text-decoration: underline;
}
#fixed_head {
    position: fixed;
    top: 0;
    text-align: right;
    width: 100%;
}
#fixed_head a {
    color: #666;
    border: 1px solid #666;
    text-decoration: none;
    /*float: right;*/
    padding: 2px 7px;
    margin: 5px;
    background-color: rgba(255,255,255,0.5);
    font-size: 20px;
}
.feed_icon {
    max-height: 50px;
    max-width: 100px;
    vertical-align: middle;
    /*margin: 5px;*/
}
.feed_title {
    font-family: Arial Narrow;
    font-weight: bolder;
}
.feed-info {
    margin: 8px;
}
.likes {
    position: absolute;
    right: 7px;
    margin-top: -32px;
}
.likes img {
    height: 29px;
}